.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

table {
  border-collapse: collapse;
  empty-cells: show;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  width: 4rem;
}

tr {
  height: 1rem;
}
